appdirs==1.4.4
APScheduler==3.10.1
astroid==2.15.5
bidict==0.22.1
blinker==1.6.2
CacheControl==0.13.1
certifi==2023.5.7
chardet==5.1.0
charset-normalizer==3.1.0
click==8.1.3
colorama==0.4.6
contextlib2==21.6.0
distlib==0.3.6
distro==1.8.0
dnspython==2.3.0
eventlet==0.33.3
Flask==2.3.2
Flask-SocketIO==5.3.4
greenlet==2.0.2
html5lib==1.1
idna==3.4
ipaddr==2.2.0
isort==5.12.0
itsdangerous==2.1.2
Jinja2==3.1.2
lazy-object-proxy==1.9.0
lockfile==0.12.2
MarkupSafe==2.1.3
mccabe==0.7.0
msgpack==1.0.5
packaging==23.1
pep517==0.13.0
progress==1.6
pyparsing==3.1.0
python-engineio==4.4.1
python-socketio==5.8.0
pytoml==0.1.21
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
requests==2.31.0
retrying==1.3.4
six==1.16.0
toml==0.10.2
tomli==2.0.1
typing_extensions==4.7.1
tzdata==2023.3
tzlocal==5.0.1
urllib3==2.0.3
webencodings==0.5.1
Werkzeug==2.3.6
wrapt==1.15.0
