<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="/static/socket.io.slim.js"></script>
    <script>
       
    </script>
    <style>
        html,
        body {
            padding: 0;
            margin: 0;
            overflow: hidden;
        }

        .box {
            background-color: #000;
            width: 5vw;
            height: 100vh;
            position: absolute;
        }
    </style>
</head>

<body>

    <div id="container"></div>

    <script>
        var gain = 1;
        var socket = io();

        var counter = 500;

        var spatFreq = 5;
        var onBarColor = "#FFFFFF";

        socket.on('connect', function(){
            // socket.emit('my event', {data: 'I\'m !'});
        });
        socket.on('event', function(data){});
        socket.on('disconnect', function(){});
        socket.on('direction', function(cnt, ts, diff){
            // console.log(cnt, ts, diff, counter);
            runBarUpdate(diff);
            socket.emit('display', {cnt: cnt, counter: counter});
        });

        socket.on('spatfreq', function(newfreq){
            spatFreq = newfreq;
            redrawSpatialFreq();
        });

        socket.on('screen', function(onoff, blackout){
            cont = document.getElementById("container");
            if (blackout == undefined){
                document.body.style.background = onBarColor;
            } else {
                document.body.style.background = blackout;
            }
            if (onoff == 0) {
                cont.style.visibility = 'hidden';
            } else {
                cont.style.visibility = 'visible';
            }
        });

        (function () {
            redrawSpatialFreq();
        })();

        function redrawSpatialFreq(){
            cont = document.getElementById("container");
            cont.innerHTML = '';
            for (num = -1; num < spatFreq; num++) {
                bx = document.createElement("div");
                bx.id = "b" + num;
                bx.className = "box";
                bx.style.width = 50/spatFreq + "vw";
                bx.style.left = num * (100/spatFreq) + "vw";
                cont.appendChild(bx);
            }
        }

        function runBarUpdate(countdiff) {
            // console.log(counter, " diff ", countdiff * SENSITIVITY);
            counter = counter + countdiff * gain;
            if (counter < 200){
                counter = counter + 300;
            } else if (counter > 1000){
                counter = counter - 300;
            }
            for (num = -1; num < spatFreq; num++) {
                bx = document.getElementById("b" + num);
                bx.style.left = num * (100/spatFreq) + (counter % 100) / spatFreq + "vw";
            }
        }

        function error() {
            console.error('Stream generation failed.');
        }

    </script>

</body>

</html>
