<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <script src="/static/socket.io.slim.js"></script>
    <script>
       
    </script>
    <style>
        html,
        body {
            padding: 0 !important;
            margin: 0 !important;
            overflow: hidden;
            background-color:#000000;
        }
        #fullscreen, #restart{
            color:#CC0000;
            font-size:50pt;
            position:absolute;
            top: 10%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%);
        }
        #restart { visibility: hidden; }
        #container{
            visibility:hidden;
            position:absolute;
            left:0;
            top:0;
            width:100%;
            height:100%;
        }
    </style>
</head>

<body>
    <canvas id="container"></canvas>
    <p id="fullscreen">Start</p>
    <p id="restart">Restart</p>
    
    <script>
        var gain = 1;
        var socket = io();

        let sharedKey = 0;

        let previousFrameTS;
        let barSpeed = 100;

        let spatialCycle = 5;
        let barWidth = 200 ;
        let onBarColor = "#00FF00";
        let centerLine;
        let offset = 0;
        let paintoffset = 0;
        let screenOn = true;
        let showSingleBar = false;
        let sweepcount = 0;
        let nthframe = 1;
        let framecounter = 0;

        let canvas; 
        let ctx;

        let bars  = [];

        socket.on('connect', function(){});
        socket.on('event', function(data){});

        socket.on('disconnect', function(){
            if(typeof(canvas) != 'undefined'){
                canvas.style.visibility = "hidden";
                let elem = document.getElementById('restart');
                elem.style.visibility = "visible";
            }
        });

        socket.on('speed', (key, speed) => {setSharedKey(key); setSpeed(speed);});

        socket.on('spatfreq', data => {setSpatial(data);});

        socket.on('sweepcount', data => {setSweepCount(data);});

        socket.on('nthframe', data => {setNthFrame(data);});

        // socket.on('spatial-temporal', (key, spatial, temporal) => {
        //     setSharedKey(key);
        //     if (temporal < 0){offset = canvas.width;}
        //     setSpatial(spatial);
        //     setSpeed(temporal);
        // })

        socket.on('screen', function(onoff){
            if (onoff == 0){
                screenOn = false;
            } else {
                screenOn = true;
            }
        });

        function setSweepCount(counter){
            sweepcount = counter;
        }

        function setNthFrame(counter){
            nthframe = counter;
        }

        function setSharedKey(key){
            sharedKey = key;
        }

        function setSpeed(speed){
            barSpeed = speed*2;
        }

        function setSpatial(newCycle){
            if(typeof(canvas) != 'undefined'){
                if (newCycle < 1){
                    showSingleBar = true;
                    spatialCycle = 1;
                    barWidth = newCycle * canvas.width;
                } else {
                    showSingleBar = false;
                    spatialCycle = newCycle;
                    barWidth = (canvas.width/spatialCycle)/2;
                }
                updateBarStorage();
            }
        }

        function drawBars(timestamp) {
            if (previousFrameTS === undefined){
                previousFrameTS = timestamp;
                if(barSpeed < 0){
                    offset = canvas.width - 0.001;
                } else {
                    offset = 0;
                }
            }
            const elapsedTime = (timestamp - previousFrameTS)/1000;

            ctx.fillStyle = onBarColor;
            ctx.clearRect(0, 0, canvas.width, canvas.height);
            framecounter = (framecounter + 1) % nthframe;

            if (screenOn){
                if (showSingleBar){
                    let updateval = (offset + canvas.width/2 * barSpeed * elapsedTime);
                    offset = ( updateval + canvas.width) % canvas.width;
                    if (framecounter == 0){
                        paintoffset = offset;
                    }
                    ctx.fillRect(paintoffset, 0, barWidth, canvas.height);
                    if (updateval < 0 || updateval > canvas.width){
                        sweepcount = sweepcount - 1;
                        if (sweepcount == 0){
                            socket.emit('sweep-counter', sweepcount);
                            ctx.clearRect(0, 0, canvas.width, canvas.height);
                        }
                    } 
                } else {
                    offset = (offset + barWidth * barSpeed*elapsedTime) % (2*barWidth);
                    if (framecounter == 0){
                        paintoffset = offset;
                    }
                    bars.forEach(function(i){
                        ctx.fillRect(paintoffset + i[0], 0, i[1], canvas.height);
                    });
                }
                socket.emit('display', {cnt: sharedKey, counter: paintoffset});
            }
            previousFrameTS = timestamp;
            window.requestAnimationFrame(drawBars);
        }

        function updateBarStorage(){
            bars = [];
            for (let i = -1; i< spatialCycle + 1; i++){
                bars.push([i*2*barWidth, barWidth] );
            }
        }

        function initCanvas(){
            canvas = document.getElementById("container");
            canvas.style.visibility = "visible";
            canvas.width = window.innerWidth; //document.width is obsolete
            canvas.height = window.innerHeight; //document.height is obsolete
            centerLine = Math.round(canvas.width/2);

            ctx = canvas.getContext("2d");
            updateBarStorage();
            window.requestAnimationFrame(drawBars);
        }

        (function () {
            document.getElementById('fullscreen').addEventListener('click', function () {
                 document.body.requestFullscreen();
                 this.style.visibility = "hidden";
                 socket.emit('start-experiment', 1);
                 initCanvas();
            });
            document.getElementById('restart').addEventListener('click', function () {
                window.location.reload(true);
            });
        })();

    </script>

</body>

</html>
