<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="/static/socket.io.slim.js"></script>
    <script>
       
    </script>
    <style>
        html,
        body {
            padding: 0;
            margin: 0;
            overflow: hidden;
        }

        .box {
            background-color: #000;
            width: 5vw;
            height: 100vh;
            position: absolute;
        }
    </style>
</head>

<body>

    <div id="container"></div>

    <script>
        var SENSITIVITY = 100;
        var socket = io();

        var counter = 500;

        socket.on('connect', function(){
            // socket.emit('my event', {data: 'I\'m !'});
        });
        socket.on('event', function(data){});
        socket.on('disconnect', function(){});
        socket.on('direction', function(cnt, ts, diff){
            runBarUpdate(diff);
            socket.emit('display', {cnt: cnt, counter: counter});
        });

        (function () {
            cont = document.getElementById("container");
            for (num = -1; num < 10; num++) {
                bx = document.createElement("div");
                bx.id = "b" + num;
                bx.className = "box";
                bx.style.left = num * 10 + "vw";
                cont.appendChild(bx);
            }
        })();

        
        

        function runBarUpdate(countdiff) {
            // console.log(counter, " diff ", countdiff * SENSITIVITY);
            counter = counter + countdiff * 100;
            if (counter < 200){
                counter = counter + 300;
            } else if (counter > 1000){
                counter = counter - 300;
            }
            for (num = -1; num < 10; num++) {
                bx = document.getElementById("b" + num);
                bx.style.left = num * 10 + (counter % 100) / 10 + "vw";
            }
        }

        function error() {
            console.error('Stream generation failed.');
        }

    </script>

</body>

</html>
