<!DOCTYPE html>
<html>
  <head>
    {# sitemap.html #}
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8">
    <title>FlyFlix | Sitemap</title>
    <link href="/static/style/sitemap.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div id="top" class="container" role="document">
    <main role="main">
      <section id="list">
        <header>
          <h1>FlyFlix</h1>
        </header>
        <article id="sitemap">
          <p>FlyFlix is a rudimentary visual stimulus presentation system. It has currently the following protocols and you can start them by clicking on the function names.</p>
          <dl>
            {% for url, endpoint, desc in links %}
            <dt><a href="{{ url }}">{{ endpoint }}</a>:</dt> 
            <dd>{{ desc }}</dd>
            {% endfor %}
          </dl>
        </article>
      </section>
    </main>
  </div>
</body>