<!DOCTYPE html>
<html>
  <head>
    {# starfield23.html #}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8">
    <title>FlyFlix | Three.JS Scene Container</title>
    <script src="/static/vendor/socket.io.min.js"></script>
    <script type="module" src="/static/starfield23.js"></script>
  </head>
  <body>
    <canvas class='webgl' id="mycanvas" style="border: 5px solid black" width="800" height="600"></canvas>
  </body>
</html>